<table border="0" cellspacing="1" width="100%" cellpadding="0" bgcolor="#F5FFF5">
<tr>
<td style="font-family : Verdana,Arial; font-size : 11px;" valign="top" align="center" bgcolor="#FFCC00">
<a target="_blank" href="http://dev.metalmech.com/index.php/Manual">Game Manual</a>
</td>
<td style="font-family : Verdana,Arial; font-size : 11px;" valign="top" align="center" bgcolor="#FF3333">
<a target="_blank" href="http://sourceforge.net/tracker/?func=add&group_id=123504&atid=696933">Report a bug</a>
</td>
<td style="font-family : Verdana,Arial; font-size : 11px;" valign="top" align="center" bgcolor="#66FF33">
<a target="_blank" href="http://forum.metalmech.com">Support Forum</a>
</td>
<td style="font-family : Verdana,Arial; font-size : 11px;" valign="top" align="center" bgcolor="#CC99CC">
<a target="_blank" href="http://dev.metalmech.com">Game Development</a>
</td>
<td style="font-family : Verdana,Arial; font-size : 11px;" valign="top" align="center" bgcolor="#FF99CC">
<a target="_blank" href="http://sourceforge.net/projects/metalmech">Project page on SourceForge</a>
</td>

<td style="font-family : Verdana,Arial; font-size : 11px;" valign="top" align="center" rowspan="2"><a href="http://sourceforge.net"><img src="http://sourceforge.net/sflogo.php?group_id=123504&type=1" width="88" height="31" border="0" alt="SourceForge.net Logo" /></a></td>

</tr>
<tr>
<td colspan="5">
<table border="0" cellspacing="1"  cellpadding="1">
<td style="font-family : Verdana,Arial; font-size : 11px;" bgcolor="#99CCCC">&nbsp;&nbsp;&nbsp;Contact e-mail:&nbsp;<a href="mailto: boom@metalmech.com">boom@metalmech.com</a>&nbsp;&nbsp;&nbsp;</td><td style="font-family : Verdana,Arial; font-size : 11px;" bgcolor="#9999CC">&nbsp;&nbsp;&nbsp;IRC:&nbsp;#metalmech at <a href="http://www.freenode.net">freenode.net</a>&nbsp;&nbsp;&nbsp;</td>
<td  style="font-family : Verdana,Arial; font-size : 11px;" bgcolor="#99CCCC">&nbsp;&nbsp;&nbsp;ICQ UIN:&nbsp;<u>21824586</u>&nbsp;&nbsp;&nbsp;</td>
</tr></table>
</td>
</tr>

</table>
</BODY>
</HTML>
