
{include file="header.tpl" title=foo}
 

<br/><br/>
                    <table cellspacing="0" cellpadding="0" width="350" bgcolor="#6699cc">
                        <tr>
                            <td>
                                <table  cellspacing="1" cellpadding="3" width="100%" border="0">
                                    <tr>
                                        <td  bgcolor="#ffffff">

                                            <table border="0" cellspacing="0" cellpadding="3" width="100%" >
  
    <form action="{$site}" method="post">
    <input type="hidden" name="action" value="login">
    <input type="hidden" name="returl" value="{$returl}">
    
    <tr><td valign="middle" align="center" class="textrb" colspan="2">Pilot SignIn</td></tr>
  
    {if $error != ''}
        <tr><td class="smallr" colspan="2" align="center">{$error}<br/></td></tr>
    {/if}

    <tr><td valign="middle" align="right" class="textgrb">User ID</td><td align="left">
        <input size="20" name="login" value="{$login}"><font color="#FF0000">*</font>
 </td></tr>
 
        
    <tr><td valign="middle" align="right" class="textgrb">Password</td><td align="left">
    <input size="20" name="pwd" type="password"><font color="#FF0000">*</font>
    </td></tr>

  <tr>
    <td align="right" colspan="2"><hr size="2" width="80%"/></td>
  </tr>


    <tr><td valign="middle" align="right" class="textgrb">Control word</td>
    <td align="left" valign="middle"><img valign="top" src="/secure.php" width="70" heigt="30"/>&nbsp;&nbsp;<input name="confirm_word" maxsize="6" size="6"/><font color="#FF0000">*</font></td></tr>

                                                <tr><td> </td>
                                                    <td align="left">
    <input type="submit" value="Sign In"/>
                                                        <br/>
                                                    </td>
                                                </tr>
                                                </form>

                                    <tr><td colspan="2" align="right">
<a class="atextrb" href="{$site}?action=newpilot">SignUp Pilot</a><br/><a class="atextrb" href="{$site}?action=remember">Remember password</a></td></tr>
                                                
                                            </table>

                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>

<br/><br/>

{include file="footer.tpl"}