
{include file="header.tpl" title=foo}
 

<br/><br/>
                    <table cellspacing="0" cellpadding="0" width="350" bgcolor="#6699cc">
                        <tr>
                            <td>
                                <table  cellspacing="1" cellpadding="3" width="100%" border="0">
                                    <tr>
                                        <td  bgcolor="#ffffff">

                                            <table border="0" cellspacing="0" cellpadding="3" width="100%" >
  
    <form action="{$site}" method="post">
    <input type="hidden" name="action" value="newpilotreg">
    <tr><td valign="middle" align="center" class="textrb" colspan="2">Pilot SignUp</td></tr>
  
    {if $error != ''}
        <tr><td class="smallr" colspan="2" align="center">{$error}<br/></td></tr>
    {/if}

    <tr><td valign="middle" align="right" class="textgrb">User ID</td><td align="left">
        <input size="20" name="login" value="{$login}"><font color="#FF0000">*</font><br/><font class="smallr">(4-12 alphanumerical chars, lower caps)</font>
 </td></tr>
 
     <tr><td valign="middle" align="right" class="textgrb">Pilot Nick</td><td align="left">
        <input size="20" name="nick" value="{$nick}"><font color="#FF0000">*</font>
 </td></tr>

        
    <tr><td valign="middle" align="right" class="textgrb">Password</td><td align="left">
    <input size="20" name="pwd" type="password"><font color="#FF0000">*</font>
    </td></tr>
      <tr><td valign="middle" align="right" class="textgrb">Confirm</td><td align="left">
    <input size="20" name="pwdc" type="password"><font color="#FF0000">*</font>
    </td></tr>

  <tr>
    <td align="right" colspan="2"><hr size="2" width="80%"/></td>
  </tr>

    <tr><td valign="middle" align="right" class="textgrb">First Name</td>
    <td align="left"><input name="fname" size="20" value="{$fname}"/><font color="#FF0000">*</font></td></tr>

    <tr><td valign="middle" align="right" class="textgrb">Last Name</td>
    <td align="left"><input name="lname" size="20" value="{$lname}"/><font color="#FF0000">*</font></td></tr>

  <tr>
    <td align="right" colspan="2"><hr size="2" width="80%"/></td>
  </tr>
<?php
    <tr><td valign="middle" align="right" class="textgrb">Country</td>
    <td align="left">
   <select tabindex="13" name="country">
<option value='US' >United States</option>
<option value='GB' >United Kingdom</option>
<option value='CA' >Canada</option>
<option value='AU' >Australia</option>

<option value='AF' >Afghanistan</option>
<option value='AL' >Albania</option>
<option value='DZ' >Algeria</option>
<option value='AS' >American Samoa</option>
<option value='AD' >Andorra</option>
<option value='AO' >Angola</option>
<option value='AI' >Anguilla</option>
<option value='AQ' >Antarctica</option>
<option value='AG' >Antigua and Barbuda</option>
<option value='AR' >Argentina</option>
<option value='AM' >Armenia</option>
<option value='AW' >Aruba</option>
<option value='AU' >Australia</option>
<option value='AT' >Austria</option>
<option value='AZ' >Azerbaijan</option>
<option value='BS' >Bahamas</option>
<option value='BH' >Bahrain</option>

<option value='BD' >Bangladesh</option>
<option value='BB' >Barbados</option>
<option value='BY' >Belarus</option>
<option value='BE' >Belgium</option>
<option value='BZ' >Belize</option>
<option value='BJ' >Benin</option>
<option value='BM' >Bermuda</option>
<option value='BT' >Bhutan</option>
<option value='BO' >Bolivia</option>
<option value='BA' >Bosnia/Herzegowina</option>
<option value='BW' >Botswana</option>
<option value='BV' >Bouvet Island</option>
<option value='BR' >Brazil</option>
<option value='BN' >Brunei Darussalam</option>
<option value='BG' >Bulgaria</option>
<option value='BF' >Burkina Faso</option>

<option value='BU' >Burma</option>
<option value='BI' >Burundi</option>
<option value='KH' >Cambodia</option>
<option value='CM' >Cameroon</option>
<option value='CA' >Canada</option>
<option value='CV' >Cape Verde</option>
<option value='KY' >Cayman Islands</option>
<option value='CF' >Central African Rep</option>
<option value='TD' >Chad</option>
<option value='CL' >Chile</option>
<option value='CN' >China</option>
<option value='CX' >Christmas Island</option>
<option value='CC' >Cocos Islands</option>
<option value='CO' >Colombia</option>
<option value='KM' >Comoros</option>
<option value='CG' >Congo</option>
<option value='CD' >Congo Democratic Rep</option>

<option value='CK' >Cook Islands</option>
<option value='CR' >Costa Rica</option>
<option value='CI' >Cote D'Ivoire</option>
<option value='HR' >Croatia</option>
<option value='CU' >Cuba</option>
<option value='CY' >Cyprus</option>
<option value='CZ' >Czech Republic</option>
<option value='DK' >Denmark</option>
<option value='DJ' >Djibouti</option>
<option value='DM' >Dominica</option>
<option value='DO' >Dominican Republic</option>
<option value='TP' >East Timor</option>
<option value='EC' >Ecuador</option>
<option value='EG' >Egypt</option>
<option value='SV' >El Salvador</option>
<option value='GQ' >Equatorial Guinea</option>

<option value='ER' >Eritrea</option>
<option value='EE' >Estonia</option>
<option value='ET' >Ethiopia</option>
<option value='FK' >Falkland Islands</option>
<option value='FO' >Faroe Islands</option>
<option value='FJ' >Fiji</option>
<option value='FI' >Finland</option>
<option value='FR' >France</option>
<option value='FX' >France Metropolitan</option>
<option value='GF' >French Guiana</option>
<option value='PF' >French Polynesia</option>
<option value='TF' >French Southern Ter</option>
<option value='GA' >Gabon</option>
<option value='GM' >Gambia</option>
<option value='GE' >Georgia</option>
<option value='DE' >Germany</option>
<option value='GH' >Ghana</option>

<option value='GI' >Gibraltar</option>
<option value='GR' >Greece</option>
<option value='GL' >Greenland</option>
<option value='GD' >Grenada</option>
<option value='GP' >Guadeloupe</option>
<option value='GU' >Guam</option>
<option value='GT' >Guatemala</option>
<option value='GN' >Guinea</option>
<option value='GW' >Guinea Bissau</option>
<option value='GY' >Guyana</option>
<option value='HT' >Haiti</option>
<option value='HN' >Honduras</option>
<option value='HK' >Hong Kong</option>
<option value='HU' >Hungary</option>
<option value='IS' >Iceland</option>
<option value='IN' >India</option>

<option value='ID' >Indonesia</option>
<option value='IR' >Iran</option>
<option value='IQ' >Iraq</option>
<option value='IE' >Ireland</option>
<option value='IL' >Israel</option>
<option value='IT' >Italy</option>
<option value='JM' >Jamaica</option>
<option value='JP' >Japan</option>
<option value='JO' >Jordan</option>
<option value='KZ' >Kazakhstan</option>
<option value='KE' >Kenya</option>
<option value='KI' >Kiribati</option>
<option value='KP' >Korea Dem People's Rep</option>
<option value='KR' >Korea Republic</option>
<option value='KW' >Kuwait</option>
<option value='KG' >Kyrgyzstan</option>
<option value='LA' >Lao People's Dem Rep</option>

<option value='LV' >Latvia</option>
<option value='LB' >Lebanon</option>
<option value='LS' >Lesotho</option>
<option value='LR' >Liberia</option>
<option value='LY' >Libyan Arab Jamahiriya</option>
<option value='LI' >Liechtenstein</option>
<option value='LT' >Lithuania</option>
<option value='LU' >Luxembourg</option>
<option value='MO' >Macau</option>
<option value='MK' >Macedonia</option>
<option value='MG' >Madagascar</option>
<option value='MW' >Malawi</option>
<option value='MY' >Malaysia</option>
<option value='MV' >Maldives</option>
<option value='ML' >Mali</option>
<option value='MT' >Malta</option>
<option value='MH' >Marshall Islands</option>

<option value='MQ' >Martinique</option>
<option value='MR' >Mauritania</option>
<option value='MU' >Mauritius</option>
<option value='YT' >Mayotte</option>
<option value='MX' >Mexico</option>
<option value='FM' >Micronesia</option>
<option value='MD' >Moldova</option>
<option value='MC' >Monaco</option>
<option value='MN' >Mongolia</option>
<option value='MS' >Montserrat</option>
<option value='MA' >Morocco</option>
<option value='MZ' >Mozambique</option>
<option value='MM' >Myanmar</option>
<option value='NA' >Namibia</option>
<option value='NR' >Nauru</option>
<option value='NP' >Nepal</option>
<option value='NL' >Netherlands</option>

<option value='AN' >Netherlands Antilles</option>
<option value='NT' >Neutral Zone</option>
<option value='NC' >New Caledonia</option>
<option value='NZ' >New Zealand</option>
<option value='NI' >Nicaragua</option>
<option value='NE' >Niger</option>
<option value='NG' >Nigeria</option>
<option value='NU' >Niue</option>
<option value='NF' >Norfolk Island</option>
<option value='MP' >Northern Mariana Islands</option>
<option value='NO' >Norway</option>
<option value='OM' >Oman</option>
<option value='PK' >Pakistan</option>
<option value='PW' >Palau</option>
<option value='PS' >Palestine</option>
<option value='PA' >Panama</option>
<option value='PG' >Papua New Guinea</option>

<option value='PY' >Paraguay</option>
<option value='PE' >Peru</option>
<option value='PH' >Philippines</option>
<option value='PN' >Pitcairn Island</option>
<option value='PL' >Poland</option>
<option value='PT' >Portugal</option>
<option value='PR' >Puerto Rico</option>
<option value='QA' >Qatar</option>
<option value='RE' >Reunion</option>
<option value='RO' >Romania</option>
<option value='RU' >Russian Federation</option>
<option value='RW' >Rwanda</option>
<option value='KN' >Saint Kitts And Nevis</option>
<option value='LC' >Saint Lucia</option>
<option value='VC' >Saint Vincent/Grenadines</option>
<option value='WS' >Samoa</option>
<option value='SM' >San Marino</option>

<option value='ST' >Sao Tome and Principe</option>
<option value='SA' >Saudi Arabia</option>
<option value='SN' >Senegal</option>
<option value='SC' >Seychelles</option>
<option value='SL' >Sierra Leones</option>
<option value='SG' >Singapore</option>
<option value='SK' >Slovakia (Slovak Republic)</option>
<option value='SI' >Slovenia</option>
<option value='SB' >Solomon Islands</option>
<option value='SO' >Somalia</option>
<option value='ZA' >South Africa</option>
<option value='GS' >South Georgia/S Sandwich Is</option>
<option value='ES' >Spain</option>
<option value='LK' >Sri Lanka</option>
<option value='SH' >St Helena</option>
<option value='PM' >St Pierre and Miquelon</option>
<option value='SD' >Sudan</option>

<option value='SR' >Suriname</option>
<option value='SJ' >Svalbard/Jan Mayen Islands</option>
<option value='SZ' >Swaziland</option>
<option value='SE' >Sweden</option>
<option value='CH' >Switzerland</option>
<option value='SY' >Syrian Arab Republic</option>
<option value='TW' >Taiwan Province of China</option>
<option value='TJ' >Tajikistan</option>
<option value='TZ' >Tanzania United Republic of</option>
<option value='TH' >Thailand</option>
<option value='TG' >Togo</option>
<option value='TK' >Tokelau</option>
<option value='TO' >Tonga</option>
<option value='TT' >Trinidad and Tobago</option>
<option value='TN' >Tunisia</option>
<option value='TR' >Turkey</option>
<option value='TM' >Turkmenistan</option>

<option value='TC' >Turks And Caicos Islands</option>
<option value='TV' >Tuvalu</option>
<option value='UM' >US Minor Outlying Is</option>
<option value='UG' >Uganda</option>
<option value='UA' >Ukraine</option>
<option value='AE' >United Arab Emirates</option>
<option value='GB' >United Kingdom</option>
<option value='US' >United States</option>
<option value='UY' >Uruguay</option>
<option value='UZ' >Uzbekistan</option>
<option value='VU' >Vanuatu</option>
<option value='VA' >Vatican City State</option>
<option value='VE' >Venezuela</option>
<option value='VN' >Viet Nam</option>
<option value='VG' >Virgin Islands British</option>
<option value='VI' >Virgin Islands US</option>
<option value='WF' >Wallis/Futuna Islands</option>

<option value='EH' >Western Sahara</option>
<option value='YE' >Yemen</option>
<option value='YD' >Yemen Democratic</option>
<option value='YU' >Yugoslavia</option>
<option value='ZR' >Zaire</option>
<option value='ZM' >Zambia</option>
<option value='ZW' >Zimbabwe</option>
</select><font color="#FF0000">*</font>
</td></tr>

    <tr><td valign="middle" align="right" class="textgrb">City</td>
<td align="left"><input name="city" size="20" value="{$city}"/></td></tr>

  <tr>
    <td align="right" colspan="2"><hr size="2" width="80%"/></td>
  </tr>
<?php
    <tr><td valign="middle" align="right" class="textgrb">E-mail</td>
    <td align="left"><input name="email" size="20" value="{$email}"/><font color="#FF0000">*</font></td></tr>

    <tr><td valign="middle" align="right" class="textgrb">ICQ/AIM</td>
    <td align="left"><input name="icq" size="20" value="{$icq}"/></td></tr>



  <tr>
    <td align="right" colspan="2"><hr size="2" width="80%"/></td>
  </tr>

    <tr><td valign="middle" align="right" class="textgrb">Control word</td>
    <td align="left" valign="middle"><img valign="top" src="/secure.php" width="70" heigt="30"/>&nbsp;&nbsp;<input name="confirm_word" maxsize="6" size="6"/><font color="#FF0000">*</font></td></tr>

                                                <tr><td> </td>
                                                    <td align="left">
    <input type="submit" value="Sign Up"/>
                                                        <br/>
                                                    </td>
                                                </tr>
                                                </form>
                                            </table>

                                        </td>
                                    </tr>
                                </table>

                            </td>
                        </tr>
                    </table>

<br/><br/>

{include file="footer.tpl"}