
{include file="header.tpl" title=foo}
 <table border="1">
 <tr>
<td>Login</td>
<td>Nick</td>
<td>IP</td>
 </tr>
{foreach name=outer item=list from=$users}
  <tr>
  {foreach key=key item=item from=$list}
  <td>
  {$item}
  </td>
 
{/foreach}

</tr>
{/foreach}

</table>

{include file="footer.tpl"}