

BODY {
    background-color : #F5FFF5;
    color : #003300;
    font-family : Verdana, Arial, Helvetica, sans-serif;
    font-size : x-small;
  }


TD {
    font-size:x-small;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    color:#003300;
  }


.ammo {
    color : #003300;
    font-family : Verdana, Arial, Helvetica, sans-serif;
    font-size : 8px;
  }


A {
    color:#330000;
  }


SELECT {
    font-size:xx-small;
    font-family:Verdana, Arial, Helvetica, Sans-serif;
  }


INPUT {
    font-size:xx-small;
    font-family:Verdana, Arial, Helvetica, Sans-serif;
  }


TEXTAREA {
    font-size:x-small;
    font-family:Verdana, Arial, Helvetica, Sans-serif;
  }


.title {
    font-size:18px;
    color:#657195;
    font-weight:bold;
  }


.stitle {
    color:#657195;
    font-weight:bold;
  }


HR {
    color:#6699cc;
  }


.small {
    font-size:xx-small;
  }


.smallb {
    font-size:xx-small;
    font-weight:bold;
  }


.smallw {
    font-size:xx-small;
    color:#ffffff;
  }


.smallwb {
    font-size:xx-small;
    color:#ffffff;
    font-weight:bold;
  }


.smallgr {
    font-size:xx-small;
    color:#dfe2ec;
  }


.smallgrdb {
    font-size:xx-small;
    color:#4d587b;
    font-weight:bold;
  }


.smallgrb {
    font-size:xx-small;
    color:#c7cad9;
    font-weight:bold;
  }


.smallgrd {
    font-size:xx-small;
    color:#8f95ac;
  }


.smallgrl {
    font-size:xx-small;
    color:#c7cad9;
  }

  .smallgl {
    font-size:xx-small;
    color:#33CC00;
  }


.smallr {
    font-size:xx-small;
    color:#cc0000;
  }


.smalllblb {
    font-size:xx-small;
    color:#8396ce;
    font-weight:bold;
  }


.textb {
    font-weight: bold;
  }


.textw {
    color:#ffffff;
  }


.textwb {
    color:#ffffff;
    font-weight: bold;
  }


.textgr {
    color:#4d587b;
  }


.textgrb {
    font-weight:bold;
    color:#4d587b;
  }


.textgrd {
    color:#8f95ac;
  }

.textgrdb {
    color:#8f95ac;
    font-weight:bold;
  }


.textrb {
    color:#cc0000;
    font-weight:bold;
  }


.textrbb {
    color:#cc0000;
    font-weight:bold;
    font-size:18px;
  }


.textbb {
    color:#000000;
    font-weight:bold;
    font-size:18px;
  }


.notfound {
    color:#000000;
  }


.number {
    font-size:14px;
    font-weight:bold;
    color:#000000;
  }


a.asmall {
    font-size:xx-small;
  }


a.asmallb {
    font-size:xx-small;
    font-weight:bold;
  }


a.asmallgrb {
    font-size:xx-small;
    color:#3399CC;
    font-weight:bold;
  }


a.asmallgrd {
    font-size:xx-small;
    color:#3366CC;
  }


a.asmallgrlb {
    font-size:xx-small;
    color:575757;
    font-weight:bold;
  }


a.asmallw {
    font-size:xx-small;
    color:#ffffff;
  }


a.asmallwb {
    font-size:xx-small;
    color:#ffffff;
    font-weight:bold;
  }


a.asmallr {
    font-size:xx-small;
    color:#cc0000;
  }


a.asmallblack {
    font-size:xx-small;
    color:#000000;
  }


a.asmallblackb {
    font-size:xx-small;
    color:#000000;
    font-weight:bold;
  }


a.asmallx {
    font-size:xxx-small;
  }


a.atextb {
    font-weight:bold;
  }


a.atextrb {
    color:#cc0000;
    font-weight:bold;
  }


a.atextblackb {
    color:#000000;
    font-weight:bold;
  }


a.anotfound {
    font-weight:bold;
  }



