
<br/>

<table border="1" width="100%" cellspacing="0" bgcolor="#ffffff">
<tr><td align="left" valign="top">

<table border="0" width="100%">
<tr><td align="center">
<table border="0"><tr><td></td><td class="textb">
Head
</td><td></td></tr>
<tr><td class="textrb" nowrap>Left Hand</td><td class="textrb" nowrap>Front</td><td class="textrb" nowrap>Right Hand</td></tr>
<tr><td class="textrb" nowrap>Left Leg</td><td class="textrb" nowrap>Rear</td><td class="textrb" nowrap>Right Leg</td></tr>
</table>

</td></tr>
<tr><td>
<table border="0" id="h">
<tr><td valign="top">
&nbsp;&nbsp;W&nbsp;</td><td valign="top">
<table border="0"><tr><td  valign="top">
SAM 2xA <font class="smallr">(rocket)</font> <font class="textgrdb">235$</font></td><td  valign="top"><b>[10/10]</b></td><td  valign="top" class="small" rowspan="2">lvl=<font class="smallr">1</font><br/>weight=<font class="smallr">+5</font><br/>heat=<font class="smallgl">+1</font></td>
</tr>
<tr><td colspan="2">
<table border="0" width="100%"><tr>
<td class="smallb">
Put dn
</td><td class="smallb">
Ammo
</td><td class="smallb">
Info
</td><td class="smallb">
Mv up
</td><td class="smallb">
Mv down
</td></tr></table>

</td></tr>
</table>

</td></tr>
<tr><td>
&nbsp;&nbsp;W&nbsp;</td><td>SX 5X [weight] params
</td></tr>
<tr><td>
&nbsp;&nbsp;A&nbsp;</td><td>Kevlar [weight] params
</td></tr>

</table>

</td></tr>
<tr><td>
Left Hand
Right Hand
Front
Rear
Left Leg
Right Leg

</td>
</tr>
</table>

</td>
</tr>
</table>

