
{include file="header.tpl" title=foo}
{$battlestatus}
 <table border="1">
 <tr>
<td>Nick</td>
<td>Enemy</td>
<td>Waiting</td>
<td>Status</td>
 </tr>
{foreach name=outer item=list from=$users}
  <tr>
  {foreach key=key item=item from=$list}
  
  {if $key=="nick"}
  {assign var="nick" value=$item}
  {/if}
  
  {if $key=="login"}
  {assign var="login" value=$item}
  <td>
  {$nick} [{$item}]
  </td>
  {/if}

  {if $key=="enemynick"}
  {assign var="enemynick" value=$item}
  {/if}
  
  {if $key=="enemylogin"}
  
<td>
{if $item != ""}
  {$enemynick} [{$item}]
  {else}
  &nbsp;
{/if}
</td>


  {/if}

  {if $key=="wait"}
  <td>
  {$item} min.
  </td>
  <td>
  {if $battlestatus=="free" && $enemynick==''}
  <a href="{$site}?action=sign&login={$login}">Accept</a>
  {/if}
  </td>
  {/if}

{/foreach}

</tr>
{/foreach}

</table>
<br/>
{$msg}
<br/><br/>
    <form action="{$site}" method="post">
    <input type="hidden" name="action" value="">
    <input type="submit"  value="Refresh">
    
</form>
  
  {if $battlestatus=="free"}
<br/><br/>
                    <table cellspacing="0" cellpadding="0" width="350" bgcolor="#6699cc">
                        <tr>
                            <td>
                                <table  cellspacing="1" cellpadding="3" width="100%" border="0">
                                    <tr>
                                        <td  bgcolor="#ffffff">

                                            <table border="0" cellspacing="0" cellpadding="3" width="100%" >
  
    <form action="{$site}" method="post">
    <input type="hidden" name="action" value="sign">
    <input type="hidden" name="returl" value="{$returl}">
    
    <tr><td valign="middle" align="center" class="textrb" colspan="2">Sign request for Battle</td></tr>
  
    {if $error != ''}
        <tr><td class="smallr" colspan="2" align="center">{$error}<br/></td></tr>
    {/if}

    <tr><td valign="middle" align="right" class="textgrb">Battle type</td><td align="left">
        <input size="20" name="type" value="1v1" readonly><font color="#FF0000">*</font>
 </td></tr>
 
        
    <tr><td valign="middle" align="right" class="textgrb">Your Bid (money)</td><td align="left">
    <input size="20" name="bidamount" type="text"><font color="#FF0000">*</font>
    </td></tr>


                                                <tr><td> </td>
                                                    <td align="left">
    <input type="submit" value="Sign"/>
                                                        <br/>
                                                    </td>
                                                </tr>
                                                </form>

                                            </table>

                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
{/if}

{if $battlestatus=="waitforaccept"}
Player {$enick} [{$elogin}] accept your sign for battle.
<br/><br/>
<b><a href="{$site}?action=accept">Battle</a></b> |   <a href="{$site}?action=cancelsign&login={$login}">Cancel sign</a>

{/if}

{if $battlestatus=="waitforbattle"}
Waiting accept form player {$enick} [{$elogin}]
<br/><br/><a href="{$site}?action=cancelsign&login={$login}">Cancel sign</a>

{/if}

{if $battlestatus=="waitforenemy"}

<a href="{$site}?action=cancelsign&login={$login}">Cancel sign</a>

{/if}
{if $battlestatus=="battlebegin"}
Battle Begins
{/if}
<br/><br/>

{include file="footer.tpl"}