{if $turned != 1}
{include file="header.tpl" title=foo}

<br/>

{$error}

<br/>
{if $emid>0}
<form action="index.php" method="GET">
<input type="hidden" name="action" value="fire">
<input type="hidden" name="emid" value="{$emid}">
<input type="hidden" name="name" value="{$mech_pilot_name}">

<table border="0" width="100%"><tr><td valign="top">
Fire

<br/>
{html_checkboxes name="wid" values=$weap_ids output=$weap_names separator="<br />"}
<br/>
Direction of fire
<br/>

<input type="radio" name="firemove"  value="forward" checked>&nbsp;Center</input><br/>
<input type="radio" name="firemove"  value="left">&nbsp;Left</input><br/>
<input type="radio" name="firemove"  value="right">&nbsp;Right</input><br/>

</td><td width="40">&nbsp;</td><td valign="top">
Move
<br/>

<input type="radio" name="move" value="stay" checked>&nbsp;Stay</input><br/>
<input type="radio" name="move" value="forward">Forward</input><br/>
<input type="radio" name="move" value="backward">Backward</input><br/>
<input type="radio" name="move" value="left">Left</input><br/>
<input type="radio" name="move" value="right">Right</input><br/>


</td></tr>
<tr><td colspan="3" valign="top" align="center">
<input type="submit" value="Action!" style="width: 400px; font-size: 14px;">
</td>
</tr>
</form>
</table>
<br/>
<b>Chat (not work)</b><br/>
<form action="index.php" method="GET">
<input type="hidden" name="action" value="say">
<input type="hidden" name="emid" value="{$emid}">
<input type="hidden" name="name" value="{$mech_pilot_name}">
<input type="text" size="60" maxsize="200" name="text">
<input type="submit" value="Say">
</form>
{/if}
{else}

{eval assign="onload" var="$refreshcode"}
{include file="header.tpl" title=foo}

<br/>

{$error}
{if $time>0}
<br/>
{$time} sec to next turn.
{/if}
<br/>
<form action="index.php" method="GET">
<input type="submit" value="Refresh">
<input type="hidden" name="action" value="battle">
</form>
{/if}
{include file="footer.tpl"}
