{eval assign="onload" var="$refreshcode"}
{include file="header.tpl" title=foo}
 
{$error}


{if $turned > 0}
Time out 
{/if}
<br/>
<form action="index.php" method="GET">
<input type="submit" value="Refresh">
<input type="hidden" name="action" value="battle">
</form>

{include file="footer.tpl"}