{config_load file=test.conf section="setup"}
<html><head>

<frameset rows="*,52">
<frameset cols="20%,60%,20%">
    <frame src="{$site}?action=uinfo" name="uinfo" noresize frameborder="0" marginwidth="0" marginheight="0">
    
    <frameset rows="60%,40%">
        <frame src="{$site}?action=battle" name="battle" noresize frameborder="0" marginwidth="0" marginheight="0">
        <frame src="{$site}?action=results" name="results" noresize frameborder="0" marginwidth="0" marginheight="0">
        
    </frameset>
    
    <frame src="{$site}?action=einfo" name="einfo" noresize frameborder="0" marginwidth="0" marginheight="0">
</frameset>
<frame src="{$globalsite}/dev.php" name="dev" noresize frameborder="0" marginwidth="0" marginheight="0">
</frameset>

</head>
<body>
</body></html>